body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* ------------------------ header ------------------------*/
#header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

#header h1 {
    margin: 0;
}

/* ------------------------ main ------------------------*/
#main {
    display: flex;
    min-height: 100vh;
}

#menu {
    width: 20%;
    background-color: #f0f0f0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

#content {
    width: 80%;
    background-color: #ffffff;
    padding: 20px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #cccccc;
    transition: background-color 0.3s ease;
    font-weight: bold;
    color: #c82333;
}

li:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

/*.modal {*/
/*    width: 30%;*/
/*}*/

#content {
    display: flex;
    flex-direction: column;
}

/* ------------------------ form ------------------------*/
.updateFormDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
}

.updateForm {
    box-sizing: border-box;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-height: 400px;
    overflow-y: auto;
}

.label {
    font-size: 16px;
    color: #333;
    margin-bottom: 8px;
    display: block;
}

.input {
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    color: #555;
}

.buttonEdit {
    background-color: #3498db;
    color: #fff;
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttonBlock:hover {
    background-color: #2980b9;
}
/* ------------------------ FOOTER ------------------------*/
.page-footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    /*position: fixed;*/
    bottom: 0;
    width: 100%;
}

